.highlight-card {
	border-radius: 3px;
	animation: highlight 4000ms ease-out;
}

@keyframes highlight {
	0% {
		box-shadow: 0 0 4px 1px #ff677a;
	}
	100% {
		// background-color: white;
		box-shadow: 0 0 4px rgb(40 44 63 / 20%);
	}
}

.heart {
	cursor: pointer;
	height: 50px;
	width: 50px;
	background-image: url('https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
	background-position: left;
	background-repeat: no-repeat;
	background-size: 2900%;
	&:hover {
		background-position: right;
	}
}
.heart-liked {
	animation: heart-burst 0.8s steps(28) 1;
	background-position: right;
}

@keyframes heart-burst {
	from {
		background-position: left;
	}
	to {
		background-position: right;
	}
}
